@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* General style */

*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #020410;
}

/* End General Style */

/* Header Style */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  background-color: #e4e4e4;
  border-radius: 5px;
  height: 2px;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s;
}

.navbar a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.search_bar {
  width: 250px;
  height: 45px;
  background: transparent;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.search_bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #e4e4e4;
  padding: 10px;
}

.search_bar input::placeholder {
  color: #e4e4e4;
}

.search_bar button {
  width: 40px;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.search_bar button i {
  font-size: 22px;
  color: #e4e4e4;
}

/* End Header Style */

/* Main Style */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('assets/romain-gal.jpg') no-repeat;
  background-size: cover;
  width: 75%;
  height: 550px;
  background-position: center center;
  border-radius: 10px;
  margin-top: 20px;
}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background-color: transparent;
  padding: 80px;
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .content .logo {
  font-size: 30px;
}

.content .text_sci h2 {
  font-size: 40px;
  line-height: 1;
}

.content .text_sci h2 span {
  font-size: 25px;
}

.content .text_sci p {
  font-size: 16px;
  margin: 20px 0;
}

.socials a i {
  font-size: 25px;
  color: #e4e4e4;
  margin-right: 10px;
  transition: .5s ease;
}

.socials a:hover i {
  transform: scale(1.2);
}

.container .logreg_box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
}

/* End Main Style */